<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786039599810-gfj8f18lsu6p3iqp1k2huc487firqlbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786039599810-gfj8f18lsu6p3iqp1k2huc487firqlbg</string>
	<key>API_KEY</key>
	<string>AIzaSyBOGbJM8Z6j4dUO0U23e0mIhfecYA40iEU</string>
	<key>GCM_SENDER_ID</key>
	<string>786039599810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estore.ios</string>
	<key>PROJECT_ID</key>
	<string>estore-app-b51e7</string>
	<key>STORAGE_BUCKET</key>
	<string>estore-app-b51e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786039599810:ios:ba8b6a5c2119694f38015b</string>
</dict>
</plist>